body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;
}

.topo {
    background: orange;
    color: black;
    padding: 20px;
    text-align: center;
}

.conteudo {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.card {
    background: orange;
    padding: 30px;
    flex: 1;
    text-align: center;
    border-radius: 12px;
    transition: transform 0.2s ease;
}

.card a{
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    color: black;
}


@media (max-width: 600px){
    .conteudo {
        flex-direction: column;
    }
    body {
        background-color: black;
    }
    .card {
        font-size: 14px;
        padding: 20px;
    }
}